.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #b6006d;
  border-radius: 3px 0 0 3px;
  color: white;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
.tag a {   color: white; }

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #921a51;
  color: white;
}

.tag:hover::after {
   border-left-color: white;
}

a {
color: #ce007b;
}


.search {
  padding: 1em;
  line-height: 1;
}
.search form {
  position: relative;
}
.search form input {
  display: block;

}
.search form input[type="search"] {
  width: 1030px;
  padding: 1em;
  padding-right: 8.0em;
  position: relative;
  top: 0;
  height: inherit;
  font-weight: bold;

}
.search form .search-btn-group {
  position: absolute;
  right: 2.10em;
  top: 0.5em;
  bottom: 0.5em;
  z-index: 1;
  width: 10.0em;
  padding: 0;
  cursor: pointer;

}
.search form .search-btn-group .dropdown-toggle {
  height: 34px;

}
.search form .search-btn-group .dropdown-menu {
  left: auto;
  right: 0;

}
.search form .search-btn-group .fa-search {
  margin-left: 5px;
  height: 34px;

}

@media only screen and (min-width : 150px) and (max-width : 780px)
{
	{}
	.search form input[type="search"]
	{
		width: 230px;
		margin: 0 auto;
	}

}



#image {

   width: 100%; /* for IE 6 */


}

#image h2{
   position: absolute;
   top:0px;
   width: auto;
   color: white;
   font: bold 20px/45px Helvetica, Sans-Serif;
   letter-spacing: 0px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   filter: alpha(opacity=40);
   padding: 5px;
   padding-right:  20px;
   border-bottom-right-radius: 2em;
	 border-top-right-radius:2em;
   text-align: center;
   text-transform: uppercase;
}

#image span  {
	position: absolute;
   top: 250px;
   width: 100%;
   height: auto;
   color: white;
   font:  15px/25px Helvetica, Sans-Serif;
   letter-spacing: 0px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 2px;
   filter: alpha(opacity=100);
   border-bottom-right-radius: 1em;
	border-top-right-radius:1em;

}

#image p  {

	position: absolute;
	left: 700px;
   top: 180px;
   width: 200px;;
   color: white;
   font:  14px/45px Helvetica, Sans-Serif;
   letter-spacing: 0px;
   background-color : transparent;
background-color : transparent;
   padding: 2px;
   filter: alpha(opacity=100);
   border-bottom-left-radius: 1em;
	border-top-left-radius:1em;
}

.styled-select {
   background: url(../upload/img/pisiCombo.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 20px;
	font-weight: bold;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px;
   width: 250px;


}

.styled-select.slate {
   background: url(../upload/img/pisiCombo.png) no-repeat right center;
   height: 34px;
   width: 240px;
    border: none;
   margin-top: 5px;

}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 15px;
   height: 34px;
   width: 200px;
   margin-left: 60px;
   border: none;
   border-left-style: none;
}

ul#menu {
    padding: 0;
    list-style: none;
}

ul#menu li {
   margin-top:20px;
   margin-left: 20px;
}

ul#menu li a {
    background-color: #ce007b;
    color: white;
    padding: 7px 5px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;

}

ul#menu li a:hover {
    background-color: #972458;
}
